.account-profile__wrapper {
  width: 500px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 10px;
}

.account-profile__text {
  font-size: 12px;
}

.profileheader {
  font-size: 14px;
  font-weight: bold;
}

.profiledetails {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  width: 110px;
}

.profilelabel {
  color: rgba(0, 0, 0, 0.6);
  width: 110px;
}

.address {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  font-size: 12px;
}

.addressdetails {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  margin: 3px 0 0 0;
  list-style: none;
  font-size: 12px;
  width: 220px;
}

.account-profile-edit__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* -------------------------------- */

.account-profile-certification__wrapper {
  width: 880px;
  height: 170px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 10px;
}

.certification-container__table {
  width: 100%;
  text-align: left;
  font-size: 11px;
  border-collapse: collapse;
}

.certification-container__table thead tr th {
  padding: 5px;
}

.certification-container__table tbody tr td {
  padding: 5px;
}

.certification-container__table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.certification-container__table button {
  font-size: 11px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.certificationheader {
  font-size: 14px;
  font-weight: bold;
}

/* -------------------------------- */

.account-profile-contactnums__wrapper {
  width: 500px;
  height: 170px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 10px;
}

.contactnums-container__table {
  width: 100%;
  text-align: left;
  font-size: 11px;
  border-collapse: collapse;
}

.contactnums-container__table thead tr th {
  padding: 5px 0;
}

.contactnums-container__table tbody tr td {
  padding: 5px 0;
}

.contactnums-container__table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.contactnums-container__table button {
  font-size: 11px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.addnew-contact__btn {
  font-size: 12px;
  margin-top: 6px;
  background-color: #9dcd5a;
  color: #f3f3f3;
  border: none;
  border-radius: 2px;
  padding: 2px 5px;
  cursor: pointer;
}

/* ------------------------- */
.account-timezone-edit__wrapper {
  width: 950px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 10px;
}

.account-timezone__input {
  font-size: 12px;
  padding: 5px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 5px;
}

.account-date-format__select {
  font-size: 12px;
  width: 200px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 5px;
}

.account-time-format__select {
  font-size: 12px;
  width: 200px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: transparent;
}

.account-timezonesetting-save__btn {
  padding: 1px 10px;
  font-size: 12px;
  background-color: #9dcd5a;
  color: #f3f3f3;
  border-radius: 2px;
  cursor: pointer;
  border: none;
}

.account-timezonesetting-cancel_btn {
  padding: 1px 10px;
  font-size: 12px;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  border: none;
}

/* --------------------------------------------- */

.account-timezone__wrapper {
  width: 500px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 10px;
}

.account-timezone-edit__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.account-timezone__text {
  font-size: 12px;
}

.timezonelabel {
  color: rgba(0, 0, 0, 0.6);
}

.timezonedetails {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

/* ------------------------------------------------------- */
.contactnums-container__table input {
  font-size: 11px;
  width: 90%;
}

.save-contact__btn {
  color: #9dcd5a;
}
