.settings-billing__wrapper {
  width: 344px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 10px;
  font-size: 12px;
}

.settings-billing__input {
  width: 300px;
  outline: none;
  padding: 2px 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.billing-form-clear__btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

.billing-form-save__btn {
  cursor: pointer;
  background-color: #9dcd5a;
  border: 1px solid #9dcd5a;
  color: #f3f3f3;
  border-radius: 5px;
  padding: 2px 10px;
}

.billing-update__btn {
  cursor: pointer;
  background-color: #9dcd5a;
  border: 1px solid #9dcd5a;
  color: #f3f3f3;
  border-radius: 5px;
  padding: 2px 10px;
}
