.stripeLogo__btn {
  background-color: #5433ff;
  border: 1px solid #5433ff;
  border-radius: 5px;
  color: #f3f3f3;
  width: 152px;

  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.stripeLoading {
  animation: stripeLoad 1s infinite;
}

@keyframes stripeLoad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
