.month-selection__wrapper {
  margin: 10px 0 0 20px;
}

.month-selection__dropdown {
  font-size: 15px;
  padding: 3px 10px 3px 10px;
  border: 1px solid #202020;
  background-color: #f3f3f3;
  border: none;
  border-radius: 3px;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
}

.month-selection-option__wrapper {
  background-color: #f3f3f3;
  margin: 10px 0 0 20px;
  /* width: 5%; */
  width: 84px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  z-index: 4;
}

.month-selection__option {
  display: block;
  background-color: transparent;

  border-radius: 3px;
  padding: 10px 74px 10px 10px;
  border: none;
}

.month-selection__option:hover {
  background-color: #d6e8ff;
  width: 84px;
  cursor: pointer;
}

.currentMonth {
  background-color: #d6e8ff;
  width: 84px;
}

.calendar-headers__wrapper {
  display: flex;
  justify-content: space-between;
}

.filter-calendar__wrapper {
  height: 23px;
  width: 181px;
  margin: 10px 20px 0 0;
}

.filter-calendar__wrapper button {
  font-size: 15px;
  background-color: #f3f3f3;
  border: none;
  padding: 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
}

.calendar-grid__wrapper {
  display: grid;
  grid-template-columns: repeat(7, 200px);
  grid-template-rows: repeat(6, 125px);

  gap: 20px;

  position: absolute;
  top: 80px;
  left: 240px;
  z-index: 1;
}

.calendar-grid-day__wrapper {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 140px;
  width: 200px;
  padding: 10px;
}

.previousMonthDay,
.previousMonthDay p {
  color: rgba(0, 0, 0, 0.5);
  box-shadow: none;
}
.nextMonthDay,
.nextMonthDay p {
  color: rgba(0, 0, 0, 0.5);
  box-shadow: none;
}

.year-input {
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 3px;
  outline: none;
  padding: 3px 10px 3px 10px;
  border: none;
  font-size: 15px;
  text-align: center;
  background-color: #f3f3f3;
  width: 100px;
}

.add-event-btn__wrapper {
  margin-top: 10px;
}

.add-event-btn__wrapper button {
  display: flex;
  align-items: center;
  font-size: 17px;
  border: none;
  cursor: pointer;
  padding: 3px 10px 3px 10px;
  background-color: transparent;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}

.dayOfTheMonth-highlight {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  font-weight: bold;
}

.daysOfWeek__wrapper {
  position: absolute;
  top: 50px;
  left: 240px;
}

.daysOfWeek__wrapper label:nth-child(1) {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 185px;
}

.daysOfWeek__wrapper label:nth-child(2) {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 194px;
}

.daysOfWeek__wrapper label:nth-child(3) {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 186px;
}

.daysOfWeek__wrapper label:nth-child(4) {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 195px;
}

.daysOfWeek__wrapper label:nth-child(5) {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 200px;
}

.daysOfWeek__wrapper label:nth-child(6) {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 197px;
}

.daysOfWeek__wrapper label:nth-child(7) {
  color: rgba(0, 0, 0, 0.5);
}

/* ------------------------------------------------------------------------------------------- */

.addevent-container__wrapper {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.addevent__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 20px;
  width: 1000px;
  height: 900px;
  /* background-color: #d6e8ff; */
  z-index: 5;
  padding: 10px;
}

.addevent-close__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.addevent-subcontainer__wrapper {
  margin: 20px 0 0 88px;
  width: 80%;
  height: 80%;
  background-color: #e5f0ff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 20px 10px;
}

/* -------------------------------------------------------------------- */
.form-search-users__wrapper {
  width: 100%;
  padding: 5px;
  height: 95px;
  margin-bottom: 10px;
}

.form-search-users__input {
  width: 96%;
  margin: 5px 0 0 16px;
  font-size: 17px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

.form-search-result__wrapper {
  width: 96%;
  height: 28px;
  margin-left: 16px;
  padding: 0 5px;
  outline: none;
  background-color: rgba(24, 24, 24, 0.1);
  overflow: auto;
}

.form-search-profile-picture__img {
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.form-details__input {
  width: 359px;
  font-size: 17px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  outline: none;
  margin-left: 16px;
}
.form__input {
  width: 224px;
  font-size: 17px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  outline: none;
}

.form-address__input {
  width: 96%;
  margin: 5px 0 0 16px;
  font-size: 17px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  outline: none;
}

.form-comments__textarea {
  margin: 10px 0 0 16px;
  min-width: 96%;
  max-width: 96%;
  min-height: 150px;
  max-height: 150px;
  outline: none;
  padding: 5px;
}

.form-submit__wrapper {
  margin: 20px 0 0 88px;
  width: 80%;
  height: 80%;
  background-color: #e5f0ff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 10px 10px;
}

.form-submit__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  width: 96%;
  margin: 0 0 0 16px;
  font-size: 10px;
  padding: 3px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;

  color: #f3f3f3;
  border-radius: 5px;
  background-color: #9dcd5a;
  border: none;
}

/* ---------------------------------------------------- */

.availbledatecalendar-container__wrapper {
  position: absolute;
  top: 9.5%;
  right: -40%;

  width: 48.5%;
}

.availabledatecalendar__wrapper {
  margin-top: 20px;
  height: 500px;
  background-color: #e5f0ff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 20px 10px;
  overflow: auto;
}
.available-time__wrapper {
  margin-top: 20px;
  height: 210px;
  background-color: #e5f0ff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 20px 0px;
  overflow: auto;
}

.available-time-default__text {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.available-times__wrapper {
  text-align: center;
  height: 130px;
  overflow: auto;
}

.available-times__wrapper ul {
  list-style: none;
}

.available-times__btn {
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.4);
  padding: 3px;
  font-size: 24px;
}
.available-times__btn:hover {
  color: #202020;
  font-weight: bold;

  cursor: pointer;
}

.pickedTime {
  color: #202020;
  font-weight: bold;
}

.availabledatecalendar-daysofweek__wrapper {
  /* display: flex;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(7, 65px);
  /* gap: 25px; */
  gap: 2px;
}

.availabledatecalendar-daysofweek__wrapper label {
  font-size: 12px;
}

.availabledatecalendar-days__wrapper {
  display: grid;
  grid-template-columns: repeat(7, 62px);
  grid-template-rows: repeat(6, 62px);
  gap: 5px;

  font-size: 10px;
  margin: 10px 0 0 0;
}
.availabledatecalendar-daysofthemonth__btn {
  font-size: 10px;
  text-align: start;
  cursor: pointer;
  background-color: #f3f3f3;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.availabledatecalendar-daysofthemonth__text {
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  height: 60px;
}

.availabledatecalendar-subdays__text {
  color: rgba(0, 0, 0, 0.4);
}

.colored {
  background-color: #9dcd5a;
}

.calendar-grid-day-event {
  margin-top: 3px;
  font-size: 14px;
  padding: 0px 5px;
  background-color: #91bcf5;
  z-index: 0;
}
