.communication-container__wrapper {
  display: flex;
}

.convo-container__wrapper {
  /* background-color: red; */
  height: 79vh;
  width: 1300px;
  margin-top: 5px;
  padding: 10px;
  overflow: scroll;
}

.convo-details-btns__wrapper {
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0 10px;
  margin-left: 20px;
}

.convo-details-delete__btn {
  color: #7da04c;

  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.convo-delete-modal__wrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 5px 0;

  border-radius: 10px;
  width: 300px;
  background-color: #eff6ff;
  z-index: 6;
}

.convo-delete-confirmation__wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.convo-delete-cancel__btn {
  cursor: pointer;
  padding: 0 5px;
  background-color: transparent;
  border: none;
}

.convo-delete-delete__btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 5px;
  background-color: transparent;
  border: none;
  color: #7da04c;
}

.search-container__wrapper {
  position: absolute;
  height: 20%;
  width: 13.3%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-top: 5px;
  overflow: auto;
}

.nothing-to-show__text {
  font-size: 13px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.search-details__wrapper {
}

.search-details__btns {
  cursor: pointer;
  background-color: transparent;
  border: none;

  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}

.search-details__btns:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.search-details__wrapper p {
  font-size: 13px;
}

.communication-loading__icon {
  animation: loadingAnimation 1s infinite linear;
}

.convo-details__wrapper {
  display: flex;
  align-items: center;
  margin: 5px 0 0 20px;
}

.textbox-message {
  max-height: 12vh;
  min-height: 12vh;
  max-width: 1300px;
  min-width: 1300px;
  outline: none;
  padding: 3px 5px;
  margin-top: 5px;
}
.message-datestamp {
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

.message-timestamp {
  font-size: 10px;
}

.recieved-message-container__wrapper {
  /* background-color: darkgreen; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.recieved-message__wrapper {
  /* no height */
  width: 400px;
  background-color: rgba(157, 205, 90, 0.3);
  padding: 20px;
  border-radius: 50px;
  border-top-left-radius: 0;
}

.recieved-message__wrapper p {
  font-size: 13px;
}

.user-message-dots-menu {
  display: flex;
}

.user-message-dots-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  z-index: 4;
}

.menu-three-modal__wrapper {
  display: flex;
  justify-content: center;
  gap: 3px;
  padding: 0 10px;
}

.menu-trash-button {
  padding: 0 0 0 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.menu-edit-button {
  padding: 0px 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.hide {
  display: none;
}
.menu-trash-options-container__wrapper {
  /* position: absolute; */
}
.menu-trash-options__wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  left: -16px;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100%;
  height: 19px;
  background-color: #ed2c2c;
  padding: 0 5px;

  animation: deleteOptionsAnimation 0.5s;
}

.menu-trash-options__wrapper button {
  cursor: pointer;
  font-size: 12px;
  padding: 1.5px 5px;
  color: #f3f3f3;
  background-color: transparent;
  border: none;
  animation: deleteOptionsBtn 0.51s;
}

@keyframes deleteOptionsAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes deleteOptionsBtn {
  0% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.user-message-container__wrapper {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.user-message__wrapper {
  /* no height */
  width: 400px;
  background-color: #9dcd5a;
  padding: 20px;
  border-radius: 50px;
  border-top-right-radius: 0;
}

.user-message__wrapper p {
  font-size: 13px;
}

.communication-profiles__wrapper {
  height: 100vh;
  width: 270px;

  padding: 5px 0 0 10px;
  overflow: auto;
}

.communication-profiles__wrapper::-webkit-scrollbar {
  border-radius: 50%;
}

.communication-profiles__wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.communication-profiles__wrapper::-webkit-scrollbar-thumb {
  background-color: #9dcd5a;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

.profile-chatHistory-container__wrapper {
  display: flex;
  align-items: center;
}

.profile-chathistory__wrapper {
  margin-top: 10px;
  width: 100%;

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: transparent;
  cursor: pointer;
}

.profile-chatHistory-recentMessage__text,
.profile-chatHistory-recentMessageDate {
  font-size: 12px;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.6);
}

.profile-chathistory__wrapper:hover {
  background-color: rgba(157, 205, 90, 0.3);
  border-radius: 10px;
}

.profile-chathistory-chosen {
  background-color: rgba(157, 205, 90, 0.3);
  border-radius: 10px;
}

.profile-chathistory-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-align: start;
  width: 100%;
  padding: 0 10px;
  margin-top: 10px;
}

.unopenedConvo {
  font-weight: bold;
}

.profile-chathistory-trash-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  height: 100%;
}

/* .profile-chathistory-trash-btn:hover {
  background-color: #b22121;
} */

.profile-label__wrapper label {
  padding-left: 5px;
}

.communication-search-profile__wrapper {
  display: flex;
  align-items: center;
}

.search-profile__input {
  width: 91%;
  padding: 5px 1px;
  border: none;
  outline: none;
}

.send-btn {
  padding: 5px 20px;
  background-color: #9dcd5a;
  border: 1px solid #9dcd5a;
  border-radius: 10px;
  cursor: pointer;
}

.send-buttons-options__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.paperclip__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.seen-delivered__text {
  font-size: 12px;
}
