.main-display__wrapper {
  display: flex;
}

.welcome-modal__wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 600px;
  height: 310px;
  border-radius: 10px;
  padding: 20px;
  background-color: #eff6ff;
  z-index: 5;
}

.welcome-btn {
  color: #f3f3f3;
  background-color: #9dcd5a;
  border: 1px solid #9dcd5a;
  border-radius: 7px;
  padding: 5px 10px;
  width: 100px;
  cursor: pointer;
}

.initial-settings-ul__wrapper {
  list-style: decimal;
  padding: 0px 20px;
}

.initial-settings-ul__wrapper li {
  padding: 5px;
}

.settings-preference-ul__wrapper {
  list-style: decimal;
  padding: 0px 20px;
}

.settings-preference-ul__wrapper li {
  padding: 5px;
}

.form-select__wrapper {
  margin-bottom: 10px;
}
