/* #EFF6FF */
.nav-date__wrapper{
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid black;
}

.dateMinimized{
    border-bottom: none;
}

.nav-date__wrapper p{
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    padding: 10px 0 0 10px;
}

.nav-menu-arrow__button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 7px 10px 0 0;
}


.navside__wrapper{
    background-color: #E5F0FF;
    width: 13%;
    height: 100vh;
    /* padding: 10px 20px; */
    animation: maximizedNav .5s ease;
}

.minimized{
    width: 3%;
    /* padding-left: 18px; */
    animation: minimizedNav .5s ease;
}

@keyframes minimizedNav{
    0%{
        width: 13%;
    }
    100%{
        width: 3%;
    }
}

@keyframes maximizedNav{
    0%{
        width: 3%;
    }
    100%{
        width: 13%;
    }
}

.navside__wrapper ul {
    list-style: none;
}

.navside__wrapper ul li {
   background-color: red;
   padding-left: 18px;
}

.icon-label{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 30px;
    padding: 25px 0 25px 10px;
    

    display: flex;
    align-items: center;
    animation: labelShow .4s ease;
}

.icon-label:hover{
    background-color: #D6E8FF;
    border: none;
}

.btn-normal{
    font-size: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.remove-label{
    display: none;
}

@keyframes labelShow{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
}

.profile-btn{
    position:absolute;
    bottom: 60px;
}

.profile-btn button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logout-btn{
    position: absolute; 
    bottom: 20px;
}

.logout-btn button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}