/* #EFF6FF */
.nav-date__wrapper {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid black;
}

.hauouralogonav {
  position: relative;
  top: -15px;
  left: 10px;
  width: 90px;
  height: 70px;
  z-index: 1;
}

.dateMinimized {
  border-bottom: none;
}

.nav-date__wrapper p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  padding: 10px 0 0 10px;
}

.nav-date__text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
}

.nav-menu-arrow__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 7px 10px 0 18px;
}

.navside__wrapper {
  background-color: #e5f0ff;
  width: 13%;
  height: 100vh;
  /* padding: 10px 20px; */
  animation: maximizedNav 0.5s ease;
}

.minimized {
  width: 3%;
  /* padding-left: 18px; */
  animation: minimizedNav 0.5s ease;
}

@keyframes minimizedNav {
  0% {
    width: 13%;
  }
  100% {
    width: 3%;
  }
}

@keyframes maximizedNav {
  0% {
    width: 3%;
  }
  100% {
    width: 13%;
  }
}

.navside__wrapper ul {
  list-style: none;
}

.minimizednav-icons {
  padding: 0px 0 15px 18px;
}

.icon-label {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 30px;
  padding: 25px 0 25px 10px;

  display: flex;
  align-items: center;
  animation: labelShow 0.4s ease;
}

.icon-label:hover {
  background-color: #d6e8ff;
  border: none;
}

.btn-normal {
  font-size: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.remove-label {
  display: none;
}

@keyframes labelShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

.navigation-bottom-icons__wrapper {
  position: absolute;
  left: 15px;
  bottom: 20px;
}

.navigation-bottom-icons__wrapper li {
  margin-top: 10px;
}

.navigation-bottom-icons__wrapper li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
