.patientsId-search__wrapper{
    /* position: absolute;
    top:20%;
    left:55%;
    transform: translate(-50%, -50%); */
    text-align: center;
}

.patientID__input{
    margin-top: 10px;
    padding: 5px 5px;
    width: 600px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 10px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 21px;
    outline: none;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}

/* .patientFirstLastName__input{
    margin-top: 20px;
    padding: 5px 3px;
    width: 800px;
    border: 1px solid #9DCD5A;
    font-size: 35px;
    outline: none;
    border-radius: 10px;
    text-align: center;
} */

.patientsearch__btn{
    cursor: pointer;
    background-color:#9DCD5A;
    width: 100px;
    padding: 5px 5px;
    font-size: 21px;
    border: 1px solid #9DCD5A;
    border-radius: 10px;
    
    
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
