.header-cards__wrapper {
  height: 205px;
  width: 350px;

  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.dashboard-card-title__wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
}
.dashboard-patient-card__wrapper {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
