.patientsId-search__wrapper {
  background-color: #9dcd5a;
  padding: 50px 0 100px 0;
  text-align: center;
}

.search-patient__icon {
  background-color: white;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-right: none;
}

.patientID__input {
  padding: 5px 5px;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-left: none;
  font-size: 21px;
  outline: none;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}

/* .patientFirstLastName__input{
    margin-top: 20px;
    padding: 5px 3px;
    width: 800px;
    border: 1px solid #9DCD5A;
    font-size: 35px;
    outline: none;
    border-radius: 10px;
    text-align: center;
} */

.patientsearch__btn {
  cursor: pointer;
  background-color: #9dcd5a;
  width: 100px;
  padding: 5px 5px;
  font-size: 21px;
  border: 1px solid #9dcd5a;
  border-radius: 10px;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
