.prescription-form {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  border: 1px solid #202020;
  border-radius: 5px;
  padding: 20px;
}

.prescription-form p {
  font-size: 12px;
}

.prescription-search__input {
  width: 100%;

  margin-top: 10px;
  padding: 2px 10px;
  outline: none;
  border: 1px solid #202020;
  border-radius: 5px;

  font-size: 12px;
}

.prescription-name__input {
  width: 50%;
  font-size: 12px;
  padding: 2px 10px;

  margin-top: 10px;
  border: 1px solid #202020;
  border-radius: 5px;
}
.prescription-treatment__input {
  width: 100%;
  font-size: 12px;
  padding: 2px 10px;

  margin-top: 10px;
  border: 1px solid #202020;
  border-radius: 5px;
}
.prescription-treatment-half__input {
  width: 50%;
  font-size: 12px;
  padding: 2px 10px;

  margin-top: 10px;
  border: 1px solid #202020;
  border-radius: 5px;
}

.prescription-treatment__btn {
  cursor: pointer;
  margin-top: 10px;

  background-color: #9dcd5a;
  color: #f3f3f3;

  outline: none;
  border: 1px solid #9dcd5a;
  border-radius: 5px;
  font-size: 12px;
  padding: 2px 10px;
  width: 100%;
}
