.filter-result__wrapper {
  width: 90%;
  margin: 10px 0 20px 50px;
  padding: 10px 20px;
  background-color: #d6e8ff;
  border-radius: 5px;

  display: flex;
  gap: 30px;
}

.filter-result-search__input {
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
  padding: 5px 10px;
  outline: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  color: rgba(0, 0, 0, 0.6);
}

.filter-result__dropdown {
  width: 100%;
  font-size: 12px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  padding: 3px 10px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.result-table__table {
  width: 90%;
  margin: 10px 0 0 50px;
  border-collapse: collapse;
  font-size: 13px;
}
.result-table__table thead {
  background-color: #d6e8ff;
}

.result-table__table thead tr th {
  padding: 10px 20px;
  text-align: left;
}

.result-table__table tbody tr td {
  padding: 10px 20px;
}

.result-table__table tbody tr:nth-child(odd) {
  background-color: #e5f0ff;
}
.result-table__table tbody tr:nth-child(even) {
  background-color: #d6e8ff;
}
.result-table__table tbody tr:last-of-type {
  border-bottom: 2px solid #9dcd5a;
}

.result-table__table tbody tr td button {
  border: none;
  background-color: #9dcd5a;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.result-table-pagination__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
  color: #9dcd5a;
}

.paginationActive{
  color: #f3f3f3;
  border-radius: 50px;
  padding: 3px 10px;
  background-color: #9dcd5a;
}

/* -------------------------------------------------------------------- */

.fullres-back__btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: 10px 0 0 10px;
}

.fullres-profile__wrapper {
  margin: 30px 0 0 10px;
  display: flex;
  gap: 10px;
}

.fullres-profile__wrapper p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.fullres-viewprofile__btn {
  background-color: #81bb30;
  border-radius: 5px;
  padding: 5px;
  border: none;
  cursor: pointer;

  margin-left: 10px;
}

.nhi-header {
  font-size: 13px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.fullres-profile-container__wrapper {
  display: flex;
  justify-content: space-between;
}

.fullres-details__wrapper {
  margin: 30px 0 0 10px;
}

.fullres-details-infos__wrapper {
  display: flex;
  gap: 20px;
  width: 500px;
  height: 68px;
  overflow: auto;

  margin-top: 10px;
}

.fullres-details__wrapper p {
  font-size: 13px;
}

.pdf-container__wrapper {
  width: 69%;
  height: 97vh;
}

.fullres-testdescription__wrapper {
  margin: 30px 0 0 10px;
}

.symptoms-textarea {
  margin-top: 10px;
  min-width: 505px;
  max-width: 505px;
  min-height: 200px;
  max-height: 200px;
  padding: 5px;
  border-radius: 10px;
  overflow: auto;
  outline: none;
}

.result-profile-pic__img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
}

.full-result-profile-subinfo__wrapper p {
  margin-top: 5px;
}

.symptoms-update__btn {
  padding: 3px 10px;
  background-color: transparent;
  border: none;
  color: #81bb30;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.symptoms-label__text {
  padding: 3px 0px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.fullres-prescribed__wrapper {
  margin: 20px 0 0 10px;
  /* background-color: red; */
  height: 160px;
  overflow-y: auto;
}

.fullres-prescription-details__wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.fullres-prescription-details__wrapper p {
  font-size: 13px;
}

.fullres-btn-edit {
  background-color: transparent;
  border: none;
  color: #81bb30;
  cursor: pointer;
}

.fullres-allergies__wrapper p {
  font-size: 13px;
  margin-top: 5px;
}
