table {
  width: 99%;
  margin-left: 10px;
  border-collapse: collapse;
}
table thead {
  background-color: #d6e8ff;
}

table thead tr th {
  padding: 10px;
  text-align: left;
}

table tbody tr td {
  padding: 10px;
}

table tbody tr:nth-child(odd) {
  background-color: #e5f0ff;
}
table tbody tr:nth-child(even) {
  background-color: #d6e8ff;
}
table tbody tr:last-of-type {
  border-bottom: 2px solid #9dcd5a;
}

table tbody tr td button {
  border: none;
  background-color: #9dcd5a;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}

/* 
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #000;
  overflow: auto;
} */
