.result-table__h2 {
  font-size: 15px;
  margin: 10px 0 0 50px;
}

.filter-result__wrapper {
  width: 90%;
  margin: 10px 0 20px 50px;
  padding: 10px 20px;
  background-color: #d6e8ff;
  border-radius: 5px;

  display: flex;
  gap: 30px;
}

.filter-result-search__input {
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
  padding: 5px 10px;
  outline: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  color: rgba(0, 0, 0, 0.6);
}

.filter-result__dropdown {
  width: 100%;
  font-size: 12px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  padding: 3px 10px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.result-table__table {
  width: 90%;
  margin: 10px 0 0 50px;
  border-collapse: collapse;
  font-size: 13px;
}
.result-table__table thead {
  background-color: #d6e8ff;
}

.result-table__table thead tr th {
  padding: 10px 20px;
  text-align: left;
}

.result-table__table tbody tr td {
  padding: 10px 20px;
}

.result-table__table tbody tr:nth-child(odd) {
  background-color: #e5f0ff;
}
.result-table__table tbody tr:nth-child(even) {
  background-color: #d6e8ff;
}
.result-table__table tbody tr:last-of-type {
  border-bottom: 2px solid #9dcd5a;
}

.result-table__table tbody tr td button {
  border: none;
  background-color: #9dcd5a;
  color: #f3f3f3;
  padding: 2px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.result-table-pagination__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
  color: #9dcd5a;
}

.paginationActive {
  color: #f3f3f3;
  border-radius: 50px;
  padding: 3px 10px;
  background-color: #9dcd5a;
}

/* -------------------------------------------------------------------- */

.fullres-back__btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: 10px 0 0 10px;
}

.fullres-documents__wrapper {
  margin: 20px 0 0 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 500px;
  height: 222px;
  overflow: auto;
}

.fullres-documents__wrapper p {
  margin-top: 10px;
}

.fullres-profile-container__wrapper {
  display: flex;
}

.fullres-details__wrapper {
  margin: 20px 0 0 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 500px;
}

.fullres-details__wrapper p {
  margin-top: 10px;
}

.fullres-details-infos__wrapper {
  font-size: 12px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/* .pdf-container__wrapper {
  width: 650px;
  height: 66vh;
  margin: 20px 0 0 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
} */

.result-profile-pic__img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
}

.symptoms-update__btn {
  padding: 3px 10px;
  background-color: transparent;
  border: none;
  color: #81bb30;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.conclusion-label__text {
  padding: 3px 0px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

/* ------------------ */

.fullres-textarea-comments {
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 5px;
  outline: none;

  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 100px;
}

.fullres-conclusion__p {
  font-size: 12px;
  height: 80px;
  overflow: auto;
}

.fullres-documents__table {
  padding: 10px;
  border-collapse: collapse;
  font-size: 12px;
}

.fullres-documents__table thead th {
  text-align: start;
  padding: 10px;
}

.fullres-documents__table tbody td {
  text-align: start;
  padding: 10px;
}

.fullres-documents__btn {
  background-color: #9dcd5a;
  border: 1px solid #9dcd5a;
  color: #f3f3f3;

  cursor: pointer;
  border-radius: 5px;
  padding: 0 10px;
}
