.search-profile-container__wrapper {
  margin-left: 10px;
}

.search-profile__img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
}

.search-profile-header__wrapper {
  display: flex;
  gap: 20px;
}

.search-profile-header__texts {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  padding: 5px;
}

.search-profile-header__btn {
  border: none;
  background-color: #9dcd5a;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.search-profile-name__text {
  margin-top: 5px;
  font-size: 19px;
}

.search-profile-nhi__text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  letter-spacing: 0.3px;
}

.no-search__wrapper {
  text-align: center;
  width: 950px;

  margin: 100px 0 0 380px;
}

.full-profile__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.fullres-close__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.fullres-route-name__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fullres-patient-details__wrapper {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  width: 500px;
}

.fullres-patient-details__wrapper label {
  font-size: 12px;
}
.fullres-patient-details__wrapper p {
  font-size: 12px;
  font-weight: bold;
}

.patient-documents__wrapper {
  display: inline-block;
  height: 150px;
  padding: 10px;
  overflow: auto;
}

.patient__table {
  border-collapse: collapse;
  text-align: left;
}

.patient__table thead tr th {
  padding: 10px 20px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.patient__table tbody tr td {
  padding: 0 20px;
  font-size: 12px;
}

.emergencycontacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 500px;
}

.contact__wrapper {
  font-size: 12px;
}

.patientvitals-circle__wrapper {
  height: 150px;
  width: 150px;
  text-align: center;
  padding-top: 100px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.patientvitals-circle__wrapper p {
  font-size: 12px;
}

.patient-medicalrecords__wrapper {
  width: 100%;

  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.patient-table-container__wrapper {
  height: 140px;
  overflow: auto;
}

.patient-histories__wrapper {
  width: 250px;
  height: 350px;
  overflow: auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.patient-appointmentHistory-contents__wrapper label {
  font-size: 12px;
  font-weight: bold;
}
.patient-appointmentHistory-contents__wrapper p {
  font-size: 12px;
}
.patient-histories__btn {
  font-size: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.patient-billinghistory__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.patient-billinghistory__wrapper label {
  font-size: 12px;
  font-weight: bold;
}

.patient-billinghistory__wrapper p {
  font-size: 12px;
}
.patient-commentsHistory__wrapper label {
  font-size: 12px;
  font-weight: bold;
}

.patient-commentsHistory__wrapper p {
  font-size: 12px;
}
