.settings-nav-settings {
  display: flex;
  align-items: center;
  gap: 3px;
}

.settings-nav-container__wrapper {
  margin: 30px 0 0 30px;
  list-style: none;
}

.settings-nav__btn {
  font-size: 13px;
  margin-top: 10px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.activeDisplay {
  color: #9dcd5a;
  font-weight: 500;
}
