.settings-nav-flex {
  display: flex;
  gap: 30px;
}

.settings-nav-settings {
  display: flex;
  align-items: center;
  gap: 3px;
}

.settings-nav-container__wrapper {
  width: 15%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin: 30px 0 0 30px;
  padding-right: 90px;
  height: 95vh;
  list-style: none;
}

/* .setting-contents-display-container__wrapper {
  height: 870px;
  width: 1460px;
  overflow: auto;
} */

.settings-nav__btn {
  font-size: 13px;
  margin-top: 20px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.activeDisplay {
  color: #9dcd5a;
  font-weight: 500;
}
