@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  color: #515151;
}

.btnclear {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #9dcd5a;
}

.loading__icon {
  position: absolute;
  top: 40%;
  left: 44.5%;
  transform: translate(-50%, -50%);
  animation: loadingAnimation 1s infinite;
}

.onboarding-loading-icon {
  position: relative;
  top: 10px;
  animation: loadingAnimation 1s infinite;
}

.btn-loading__icon {
  animation: loadingAnimation 1s infinite;
}

@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9dcd5a;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btnDisabled {
  background-color: #bababa;
  border: 1px solid #bababa;
  cursor: default;
}

.display-loading-icon__wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
